{{#each listItems as |listItem|}}


  <form class="list-item" data-id="{{listItem._id}}" data-owner="{{listItem.owner}}">

    <div class="update-field update-list-item">
      {{#if listItem.boolean}}
      <label>Done?</label>
      <p> Yes!</p>
      <p class="other-label">Change Done Status</p>
      <input name="listItems[boolean]" type="checkbox" value="false">
      {{else}}
      <label>Done?</label>
      <p>No</p>
      <label>Change Done Status</label>
      <input name="listItems[boolean]" type="checkbox" value="true">
      {{/if}}
    </div>

    <div class="update-field update-list-item">
      <label>{{listItem.owner}}
        +++++++++++++++++++++++
        {{listItem._id}}</label>
      <p>{{limit listItem.title 15}}</p>
      <p class="other-label">Change Title:</p>
      <input name="listItems[title]" type="text" placeholder="Title">
    </div>

    <div class="update-field update-location">
      <label>Description:</label>
      <p>{{listItem.description}}</p>
      <p class="other-label">Change Description:</p>
      <input name="listItems[description]" type="text" placeholder="Description">
    </div>

    <div class="update-list-item">
      <button type="submit" value="Update List Item">Update</button>
    </div>
    <div class="delete-list-item">
      <button id="delete-button-{{listItem._id}}" data-owner="{{listItem.owner}}" class="delete-button" type="button" data-id="{{listItem._id}}">Delete</button>
    </div>

  </form>

{{/each}}
